@model CCI.WebApi.Models.CreatioBillCycleGUIModel
<script type="text/javascript">
  var atoken = "";
  $(document).ready(function () {
    $(".datepicker").datepicker();
    $('#downloadinvoice').hide();
    $('#downloadexport').hide();
  });
  function ShowDownload() {
    $('#downloadinvoice').show();
  }
  function ShowDownloadExport() {
    $('#downloadexport').show();
  }
</script>
<main>
  <section class="row">
    <h1>City Communications</h1>
    <p class="lead">Invoice IQ site downloads and imports</p>
    <div id="selectbillcycle">
      @using (Html.BeginForm("SelectBillCycle", "Home", FormMethod.Post))
      {
        <table>
          <tr>
            <td>
              Current Bill Cycle
            </td>
            <td>
              @Html.EditorFor(model => model.BillCycleDateDisplay, new { htmlAttributes = new { @class = "form-control datepicker", @autocomplete = "off" } })

            </td>
            <td>
              <input type="submit" value="Select" class="btn btn-primary btn-sm detail" />

            </td>
          </tr>

        </table>
      }
    </div>
  </section>
  <br/>
  <table style="width:70%; margin-left:15%; margin-right:15%;">
    <tr>
      <th>
        List Unprocessed Files
      </th>
      <th>
        Carvana Invoice Monthly Process
      </th>
      <td>
        Date/Time Processed
      </td>
    </tr>
    <tr>
      <td style="padding:4px">
        @Html.ActionLink("List Unprocessed Files", "UnprocessedZipFiles", new { }, new { @class = "btn btn-primary btn-sm detail", @style = "width:300px; text-align:center;" })
      </td>
      <td style="padding:4px">
        @Html.ActionLink("Download and Process Zips, Pdfs, EDIs", "ImportAndProcessZipFiles", new { billCycleDate = Model.BillCycleDate }, new { @class = "btn btn-primary btn-sm detail", @style = "width:300px; text-align:center;" })
      </td>
      <td style="width:300px;">
        @Html.DisplayFor(model => model.ZipUploaded, new { @style = "width:300px;" })
      </td>
    </tr>
    <tr>
      <td style="padding:4px">
        @Html.ActionLink("List Unprocessed Carvana Files", "UnprocessedUnibillFiles", new { }, new { @class = "btn btn-primary btn-sm detail", @style = "width:300px; text-align:center;" })
      </td>
      <td style="padding:4px">
        @*<a id="downloadlink" href="javascript:ShowDownload();" class="btn btn-primary btn-sm detail" style="background-color:#0d6efd; width:300px; text-align:center; ">Download Creatio Audit</a>*@
        @Html.ActionLink("Download Creatio Audit", "DownloadCreatioInvoice", new { billCycleDate = Model.BillCycleDate }, new { @class = "btn btn-primary btn-sm detail", @style = "width:300px; text-align:center;" })
      </td>
      <td style="width:300px;">
        @Html.DisplayFor(model => model.AuditDownloaded, new { @style = "width:300px;" })
      </td>
    </tr>
    <tr>
      <td style="padding:4px">
        @Html.ActionLink("List Unprocessed Creatio Files", "UnprocessedCreatioFiles", new { }, new { @class = "btn btn-primary btn-sm detail", @style = "width:300px; text-align:center;" })
      </td>
      <td style="padding:4px">
        @Html.ActionLink("Upload Edited Creatio Audit", "FileUpload", new { billCycleDate = Model.BillCycleDate, fileType = CCI.Sys.Processors.InvoiceCreationProcessor.FILETYPEEDITEDUPLOAD }, new { @class = "btn btn-primary btn-sm detail", @style = "width:300px; text-align:center;" })
      </td>
      <td style="width:300px;">
        @Html.DisplayFor(model => model.EditedFileUploaded, new { @style = "width:300px;" })
      </td>
    </tr>
    <tr>
      <td style="padding:4px; font-weight:bold;">
        Other Screens:
      </td>
      <td style="padding:4px">
        @Html.ActionLink("Download File to Import into Creatio", "DownloadCreatioExport", new { billCycleDate = Model.BillCycleDate }, new { @class = "btn btn-primary btn-sm detail", @style = "width:300px; text-align:center;" })
        @*<a id="uploadimport" href="javascript:ShowDownloadExport();" class="btn btn-primary btn-sm detail" style="background-color:#0d6efd; width:300px; text-align:center; ">Download File to Import into Creatio</a>*@
      </td>
      <td style="width:300px;">
        @Html.DisplayFor(model => model.DownloadCreatioImport, new { @style = "width:300px;" })
      </td>
    </tr>
    <tr>
      <td>
        @Html.ActionLink("Edit Creatio/EDI Parent/Child", "EDIMatching", new { billCycleDate = Model.BillCycleDate, fileType = CCI.Sys.Processors.InvoiceCreationProcessor.FILETYPEIMPORTFROMCREATIO }, new { @class = "btn btn-primary btn-sm detail", @style = "width:300px; text-align:center;" })
      </td>
      <td style="padding:4px">
        @Html.ActionLink("Upload Export From Creatio", "FileUpload", new { billCycleDate = Model.BillCycleDate, fileType = CCI.Sys.Processors.InvoiceCreationProcessor.FILETYPEIMPORTFROMCREATIO }, new { @class = "btn btn-primary btn-sm detail", @style = "width:300px; text-align:center;" })
      </td>
      <td style="width:300px;">
        @Html.DisplayFor(model => model.UploadNewCreatioFile, new { @style = "width:300px;" })
      </td>
    </tr>
    <tr>
      <td>
        @Html.ActionLink("Edit Creatio/EDI Carriers", "EDICarrierMatching", new { billCycleDate = Model.BillCycleDate, fileType = CCI.Sys.Processors.InvoiceCreationProcessor.FILETYPEIMPORTFROMCREATIO }, new { @class = "btn btn-primary btn-sm detail", @style = "width:300px; text-align:center;" })

      </td>
      <td style="padding:4px">
        @Html.ActionLink("Download Raw EDI Data", "DownloadEDIData", new { billCycleDate = Model.BillCycleDate }, new { @class = "btn btn-primary btn-sm detail", @style = "width:300px; text-align:center;" })

      </td>
    </tr>

  </table>
  <div id="downloadinvoice">
    @using (Html.BeginForm("DownloadCreatioInvoice", "Home", new { billCycleDate = Model.BillCycleDate }, FormMethod.Post))
    {
      <h2>Download new Creatio Invoice for this Period</h2>
      <table>
        <tr>
          <td>
            Bill Cycle Date:
          </td>
          <td>
            @Html.Editor("billCycleDate", new { htmlAttributes = new { @class = "form-control datepicker", @autocomplete = "off" } })
          </td>
        </tr>
      </table>
      <input type="submit" value="Download" class="btn btn-primary btn-sm detail" />
    }
  </div>
  @*<div id="downloadexport">
    @using (Html.BeginForm("DownloadCreatioExport", "Home", new { billCycleDate = Model.BillCycleDate }, FormMethod.Post))
    {
      <h2>Download Export to Import into Creatio</h2>
      <table>
        <tr>
          <td>
            Bill Cycle Date:
          </td>
          <td>
            @Html.Editor("billCycleDate", new { htmlAttributes = new { @class = "form-control datepicker", @autocomplete = "off" } })
          </td>
        </tr>
      </table>
      <input type="submit" value="Download" class="btn btn-primary btn-sm detail" />
    }
  </div>*@
</main>
@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
  }*@