
<script type="text/javascript">
  var atoken = "";
  $(document).ready(function () {
    $(".datepicker").datepicker();
    $('#downloadinvoice').hide();
    $('#downloadexport').hide();
  });
  function ShowDownload() {
    $('#downloadinvoice').show();
  }
  function ShowDownloadExport() {
    $('#downloadexport').show();
  }
</script>
<main>
  <section class="row">
    <h1>City Communications</h1>
    <p class="lead">Invoice IQ site downloads and imports</p>
  </section>
  <table style="width:70%; margin-left:15%; margin-right:15%;">
    <tr>
      <th>
        List Unprocessed Files
      </th>
      <th>
        Carvana Invoice Monthly Process
      </th>
    </tr>
    <tr>
      <td style="padding:4px">
        @Html.ActionLink("List Unprocessed Files", "UnprocessedZipFiles", new { }, new { @class = "btn btn-primary btn-sm detail", @style = "width:300px; text-align:center;" })
      </td>
      <td style="padding:4px">
        @Html.ActionLink("Download and Process Zips, Pdfs, EDIs", "ImportAndProcessZipFiles", new { }, new { @class = "btn btn-primary btn-sm detail", @style = "width:300px; text-align:center;" })
      </td>
    </tr>
    <tr>
      <td style="padding:4px">
        @Html.ActionLink("List Unprocessed Carvana Files", "UnprocessedUnibillFiles", new { }, new { @class = "btn btn-primary btn-sm detail", @style = "width:300px; text-align:center;" })
      </td>

      <td style="padding:4px">
        <a id="downloadlink" href="javascript:ShowDownload();" class="btn btn-primary btn-sm detail" style="background-color:#0d6efd; width:300px; text-align:center; ">Download Creatio Audit</a>
        @*@Html.ActionLink("Download Creatio Audit", "DownloadCreatioInvoice", new { }, new { @class = "btn btn-primary btn-sm detail", @style = "width:300px; text-align:center;" })*@

        @*@Html.ActionLink("Import Unprocessed Carvana EDI Files", "ImportUnibillFiles", new { }, new { @class = "btn btn-primary btn-sm detail", @style = "width:300px; text-align:center;" })*@
      </td>
    </tr>
    <tr>
      <td style="padding:4px">
        @Html.ActionLink("List Unprocessed Creatio Files", "UnprocessedCreatioFiles", new { }, new { @class = "btn btn-primary btn-sm detail", @style = "width:300px; text-align:center;" })
      </td>
      <td style="padding:4px">
        @Html.ActionLink("Upload Edited Creatio Audit", "FileUpload", new { }, new { @class = "btn btn-primary btn-sm detail", @style = "width:300px; text-align:center;" })

        @*<a id="uploadedited" href="javascript:UploadEdited();" class="btn btn-primary btn-sm detail" style="background-color:#0d6efd; width:300px; text-align:center; ">Upload Edited Creatio</a>*@
      </td>

    </tr>
    <tr>
      <td style="padding:4px">
      </td>
      <td style="padding:4px">
        @Html.ActionLink("Import Edited File", "ImportCreatioFiles", new { }, new { @class = "btn btn-primary btn-sm detail", @style = "width:300px; text-align:center;" })
      </td>
    </tr>
    <tr>
      <td style="padding:4px">
      </td>

      <td style="padding:4px">
        <a id="uploadimport" href="javascript:ShowDownloadExport();" class="btn btn-primary btn-sm detail" style="background-color:#0d6efd; width:300px; text-align:center; ">Download File to Import into Creatio</a>
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td style="padding:4px">
        @Html.ActionLink("Upload Export From Creatio (Not Implemented)", "FileUpload", new { }, new { @class = "btn btn-primary btn-sm detail", @style = "width:300px; text-align:center;" })
      </td>

    </tr>
  </table>
  <div id="downloadinvoice" >
    @using (Html.BeginForm("DownloadCreatioInvoice", "Home", FormMethod.Post))
    {
      <h2>Download new Creatio Invoice for this Period</h2>
    <table>
      <tr>
        <td>
          From Date:
        </td>
        <td>
          @Html.Editor("fromDate", new { htmlAttributes = new { @class = "form-control datepicker", @autocomplete = "off" } })
        </td>
      </tr>
      <tr>
        <td>
          To Date:
        </td>
        <td>
          @Html.Editor("toDate", new { htmlAttributes = new { @class = "form-control datepicker", @autocomplete = "off" } })
        </td>
      </tr>
    </table>
    <input type="submit" value="Download" class="btn btn-primary btn-sm detail" />

    }
  </div>
  <div id="downloadexport">
    @using (Html.BeginForm("DownloadCreatioExport", "Home", FormMethod.Post))
    {
      <h2>Download Export to Import into Creatio</h2>
      <div>
        @Html.Editor("billCycleDate", new { htmlAttributes = new { @class = "form-control datepicker", @autocomplete = "off" } })
      </div>
      <input type="submit" value="Download" class="btn btn-primary btn-sm detail" />
    }
  </div>
</main>
@*@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}*@